<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Clientes</title>	
</head>
<body>
	
	<div class="table-responsive" style="position:relative; top: 100px; left: 150px; width: 80%">
		<h3>Clientes</h3>
		<table id="tabla_clientes" class="table table-bordered table-dark" style="width:1400px">
			<thead>
				<tr>
					<th>CUIT</th>
					<th>Nombre</th>
					<th>Razon social</th>
					<th>Direccion</th>
					<th>Telefono</th>
				</tr>
			</thead>
		
			<tbody>
				<tr style="cursor: pointer">
					<td>30-53764771-6</td>
					<td><a aria-disabled="true" class="btn btn-secondary btn-xs">
						PepsiCo
						</a>
					</td>
					<td>PepsiCo SRL</td>
					<td>Cazadores 2860- Munro</td>
					<td>011 5533-5000</td>
				</tr>
				<tr style="cursor: pointer">
					<td>30-52539008-6</td>
					<td><a class="nav-item active" name="ir_a_Coca_info" href="ClienteTestCoca.html" class="btn btn-secondary btn-xs">
						Coca-Cola
						</a>
					</td>
					<td>COCA COLA FEMSA DE BUENOS AIRES S A</td>
					<td>Av. Amancio Alcorta 3570\r C1437 CABA</td>
					<td>011 4630-8999</td>
				</tr>
			</tbody>
		</table>
		
		<h3>Proyectos</h3>
		<table id="tabla_proyectos" class="table table-bordered table-dark" style="width:1400px">
			<thead>
				<tr>
					<th>Proyecto</th>
					<th>Tipo de proyecto</th>
					<th>Estado del proyecto</th>
					<th>Estado de facturacion</th>
				</tr>
			</thead>
			<tbody>
				<tr style="cursor: pointer">
					<td>PSA New Spring ERP 3.0</td>
					<td>Customizacion</td>
					<td>En proceso</td>
					<td>Sin facturar</td>
				</tr>
				<tr style="cursor: pointer">
					<td>PSA BA 1.0</td>
					<td>Desarrollo</td>
					<td>Finalizado</td>
					<td>Facturado</td>
				</tr>
			</tbody>
		</table>
		
		<h3>Productos</h3>
		<table id="tabla_productos" class="table table-bordered table-dark" style="width:1400px">
			<thead>
				<tr>
					<th>Producto</th>
					<th>Version</th>
					<th>Cantidad</th>
					<th>Comentarios</th>
				</tr>
			</thead>
			<tbody>
				<tr style="cursor: pointer">
					<td>PSA New Spring ERP</td>
					<td>2.0.0</td>
					<td>5</td>
					<td>Versión del producto estable pero desactualizada</td>
				</tr>
			</tbody>
		</table>
		
	</div>

</body>
</html>