<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head"></head>
<body>
	<header th:replace="layout/header :: header" data-gr-c-s-loaded="true" style="padding-top: 5rem"> </header>
	
	<a name="balance_details_page" >BalanceDetails</a>
	
	<div class="table-responsive" style="position:relative; top: 100px; left: 150px; width: 80%">
		<hr style=" width:100%; background-color: #FBF6F5">
		<ins ><h3 style="margin:2px;bottom:15px" th:text="${titulo}"></h3></ins>
	
		
		<table id="tabla_ingresos_y_egresos" class="table table-bordered table-dark" style="width:1400px">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Empresa</th>
					<th>Concepto</th>
					<th>Importe</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Egreso</td>
					<td>Edesur</td>
					<td>Pago de Servicios</td>
					<td>50.000</td>
				</tr>
				<tr>
					<td>Ingreso</td>
					<td>Coca-Colas</td>
					<td>Cobro de Contratos de Soporte</td>
					<td>150.000</td>
				</tr>
			</tbody>
		</table>
		
		<hr style=" width:100%; background-color: #FBF6F5">
		
	</div>

</body>
</html>