<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
		<style>
		  .my-custom-scrollbar {
		    position: relative;
		    height: 200px;
		    overflow: auto;
		  }
		  .table-wrapper-scroll-y {
		    display: block;
		  }
		</style>
	</head>
<body>

<header th:replace="layout/header :: header" data-gr-c-s-loaded="true" 
		style="padding-top: 5rem"> </header>
<br>
<br>
<br>
<!-- Button trigger modal -->
	<button type="button" class="btn btn-secondary m-3" data-toggle="modal" 
			data-target="#nuevaCampaña" style="float:right">
		Crear campaña
	</button>
	<button type="button" class="btn btn-outline-info m-3" data-toggle="modal" 
			data-target="#nuevoPresupuesto" style="float:right">
		Registrar presupuesto 
	</button>
<h4 >Titulo de campaña</h4>
<h5 th:text="${campaign_title}"></h5>
<hr>
<br>
<h4>Presupuesto</h4>
 <div id="chartContainer" style="height: 370px; width: 100%;"></div>
<h4>Listado de campañas</h4>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table name="campaigns" class="table table-responsive">
    <thead>
    <tr>
      <td>Campaña</td>
      <td>Medio de difusión</td>
      <td>Fecha de inicio</td>
      <td>Fecha de finalización</td>
      <td>Presupuesto aprobado (K)</td>
      <td>Presupuesto utilizado (K)</td>
    </tr>
    </thead>
    <tbody>

    <tr th:each="campaign : ${campaigns_list}">
      <td><a th:href="@{/campaigns/} + ${campaign.campaign_title}" th:text="${campaign.campaign_title}" class="btn-secondary"></a></td>
      <td th:text="${campaign.medio_de_difusion}"></td>
      <td th:text="${campaign.fecha_inicio}"></td>
      <td th:text="${campaign.fecha_fin}"></td>
      <td th:text="${campaign.presupuesto_total_aprobado}"></td>
      <td th:text="${campaign.presupuesto_total_real}"></td>
    </tr>
    </tbody>
  </table>
</div>
	<!-- Modal Presupuesto utilizado -->
	<div class="modal fade" id="nuevoPresupuesto" tabindex="-1" role="dialog">
		<div class="modal-dialog " role="document" style="display:table;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Ingreso de presupuesto utilizado</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<form th:action="@{/presupuesto_creation/} + ${campaign_title}" method="post">
						<div class="modal-body" th:object="${presupuestoIngresado}">
							<div class="form-group">
								<label for="input-titulo">Fecha</label>
								<input class="form-control" type="text" th:field="*{fecha}" id="input-fecha" required>
							</div>
							<div class="form-group">
								<label for="medio_de_difusion">Monto</label>
								<input class="form-control" type="text" th:field="*{monto}" id="input-monto" required>
							</div>
							<input type="submit" id="submitButton" th:value="Guardar"> 
							<input type="reset" id="resetButton" name="reset" th:value="Reiniciar"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal new Campaign -->
	<div class="modal fade" id="nuevaCampaña" tabindex="-1" role="dialog">
		<div class="modal-dialog " role="document" style="display:table;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Nueva campaña</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<form th:action="@{/campaign_creation}" method="post">
						<div class="modal-body" th:object="${newCampaign}">
							<h5>Datos de campaña</h5>
							<div class="form-group">
								<label for="input-titulo">Titulo</label>
								<input class="form-control" type="text" th:field="*{campaign_title}" id="input-titulo" required>
							</div>
							<div class="form-group">
								<label for="medio_de_difusion">Medio de difusión</label>
								<input class="form-control" type="text" th:field="*{medio_de_difusion}" id="medio_de_difusion" required>
							</div>
							<div class="form-group">
								<label for="fecha_inicio">Fecha de inicio</label>
								<input class="form-control" type="text" th:field="*{fecha_inicio}" id="fecha_inicio" required>
							</div>
							<div class="form-group">
								<label for="fecha_fin">Fecha de finalización</label>
								<input class="form-control" type="text" th:field="*{fecha_fin}" id="fecha_fin" required>
							</div>
						</div>
						<div th:object="${form}">
							<h5>Fecha y monto de presupuesto aprobado</h5>
							<fieldset>
								<table>
									<thead>
										<tr>
											<th>Fecha</th>
											<th>Monto</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="presupuesto, itemStat : *{presupuestos}">
											<td><input
												th:field="*{presupuestos[__${itemStat.index}__].fecha}" required /></td>
											<td><input
												th:field="*{presupuestos[__${itemStat.index}__].monto}" required/></td>
										</tr>
									</tbody>
								</table>
							</fieldset>
							<input type="submit" id="submitButton" th:value="Guardar"> 
							<input type="reset" id="resetButton" name="reset" th:value="Reiniciar"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<script th:inline="javascript">
window.onload = function() {
    var presupuestoAprobado = /*[[${presupuestoAprobado}]]*/ 'default';
    var presupuestoUtilizado = /*[[${presupuestoUtilizado}]]*/ 'default';
    
    var presupuesto_aprobado = [];
    var presupuesto_utilizado = [];
    
    var chart = new CanvasJS.Chart("chartContainer", {
      axisY: {
        title: "Valor en $"
      },
      data: [{        
        type: "line",    
        name: "Presupuesto aprobado",
    	showInLegend: true,
		markerType: "square",
        dataPoints: presupuesto_aprobado
      },
      {
    	 type: "line",   
    	 lineColor: "red",
    	 name: "Presupuesto utilizado",
    	 showInLegend: true,
 		 markerType: "square",
         dataPoints: presupuesto_utilizado
      }
      ]
    });

    presupuestoAprobado.forEach(replaceData);
    presupuestoUtilizado.forEach(replaceData2);
    
    function replaceData(value) {
    	presupuesto_aprobado.push({label : value.fecha, y: value.monto}) 
    }
    
    function replaceData2(value){
    	presupuesto_utilizado.push({label : value.fecha, y: value.monto}) 
    }

    chart.render();		
}	

</script>
	
	<script th:src="@{/js/canvasjs.min.js}"></script>
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	
</body>
</html>