<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
		<style>
		  .my-custom-scrollbar {
		    position: relative;
		    height: 200px;
		    overflow: auto;
		  }
		  .table-wrapper-scroll-y {
		    display: block;
		  }
		</style>
	</head>
<body>

<header th:replace="layout/header :: header" data-gr-c-s-loaded="true" style="padding-top: 5rem"> </header>
<br>
<br>
<br>
<h4 >Titulo de campaña</h4>
<h5 th:text="${campaigns_list[__${campaign_number}__].campaign_title}"></h5>
<hr>
<h4>Productos asociados a la campaña</h4>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table id="tabla_productos" class="table">
    <thead>
    <tr>
      <th>Producto</th>
      <th>Version</th>
      <th>Estado</th>
      <th>Fecha de salida</th>
      <th>Clientes</th>
    </tr>
    </thead>
    <tbody>
    <tr>
     	<td th:text="${campaigns_list[__${campaign_number}__].vp.nombre}"></td>
     	<td th:text="${campaigns_list[__${campaign_number}__].vp.version}"></td>
		<td th:text="${campaigns_list[__${campaign_number}__].vp.estado}"></td>
		<td th:text="${campaigns_list[__${campaign_number}__].vp.fechaReleaseMercado}"></td>
		<td >
			<p th:each="cliente : ${campaigns_list[__${campaign_number}__].clientes}" th:text="${cliente.nombre}"></p>
		</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table name="descripcion_update" class="table">
    <thead>
    <tr>
      <th>Novedades en esta version</th>
      <th>Descripción del producto</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <p th:each="feature : ${campaigns_list[__${campaign_number}__].vp.features}"
            th:text="${feature}">
        </p>
      </td>
      <td th:text="${campaigns_list[__${campaign_number}__].vp.descripcion}">
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<h4>Presupuesto</h4>
<button class="nav-link active" th:onclick="'drawing(\'' + ${campaign_number} + '\');'">Ver Presupuesto</button>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<h4>Listado de campañas</h4>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table name="campaigns" class="table table-responsive">
    <thead>
    <tr>
      <td>Campaña</td>
      <td>Medio de difusión</td>
      <td>Fecha de inicio</td>
      <td>Fecha de finalización</td>
      <td>Presupuesto asignado (K)</td>
    </tr>
    </thead>
    <tbody>

    <tr th:each="campaign :${campaigns_list}">
      <td><a th:href="@{/campaigns/} + ${campaign.campaign_title}" th:text="${campaign.campaign_title}" class="btn-secondary" href="#"></a></td>
      <td th:text="${campaign.medio_de_difusion}"></td>
      <td th:text="${campaign.fecha_inicio}"></td>
      <td th:text="${campaign.fecha_fin}"></td>
      <td th:text="${campaign.presupuesto_aprobado}"></td>
    </tr>
    </tbody>
  </table>
</div>
<script type=text/javascript>

	var arr1 = [
        { x: new Date(2019, 9, 10), y: 6 },
        { x: new Date(2019, 9, 11), y: 7},
        { x: new Date(2019, 9, 12), y: 8 },
        { x: new Date(2019, 9, 13), y: 9 },
        { x: new Date(2019, 9, 14), y: 8 },
        { x: new Date(2019, 9, 15), y: 9 },
        { x: new Date(2019, 9, 17), y: 8 },
        { x: new Date(2019, 9, 18), y: 1 },
        { x: new Date(2019, 9, 19), y: 2},
        { x: new Date(2019, 9, 20), y: 1 },
        { x: new Date(2019, 9, 21), y: 2 },
        { x: new Date(2019, 9, 22), y: 3 },
        { x: new Date(2019, 9, 23), y: 1},
        { x: new Date(2019, 9, 26), y: 1 },
        { x: new Date(2019, 9, 27), y: 5 }
    	];
	
	var arr2 = [
		{ x: new Date(2019, 9, 10), y: 6 },
		{ x: new Date(2019, 9, 11), y: 5},
		{ x: new Date(2019, 9, 12), y: 4 },
        { x: new Date(2019, 9, 13), y: 11 },
        { x: new Date(2019, 9, 14), y: 2 },
        { x: new Date(2019, 9, 15), y: 10},
        { x: new Date(2019, 9, 17), y: 8 },
        { x: new Date(2019, 9, 18), y: 1 },
        { x: new Date(2019, 9, 19), y: 2},
        { x: new Date(2019, 9, 20), y: 2 },
        { x: new Date(2019, 9, 21), y: 5 },
        { x: new Date(2019, 9, 22), y: 6},
        { x: new Date(2019, 9, 23), y: 7},
        { x: new Date(2019, 9, 26), y: 8 },
        { x: new Date(2019, 9, 27), y: 8 }
    ];
	
	var arr3 = [
        { x: new Date(2019, 9, 10), y: 1 },
        { x: new Date(2019, 9, 11), y: 1 },
        { x: new Date(2019, 9, 12), y: 1 },
        { x: new Date(2019, 9, 13), y: 2 },
        { x: new Date(2019, 9, 14), y: 3 },
        { x: new Date(2019, 9, 15), y: 1 },
        { x: new Date(2019, 9, 17), y: 10 },
        { x: new Date(2019, 9, 18), y: 10 },
        { x: new Date(2019, 9, 19), y: 10},
        { x: new Date(2019, 9, 20), y: 4 },
        { x: new Date(2019, 9, 21), y: 4 },
        { x: new Date(2019, 9, 22), y: 6 },
        { x: new Date(2019, 9, 23), y: 4},
        { x: new Date(2019, 9, 26), y: 4 },
        { x: new Date(2019, 9, 27), y: 5 }
    	];

	var arr4 = [
		{ x: new Date(2019, 9, 10), y: 1 },
        { x: new Date(2019, 9, 11), y: 1 },
        { x: new Date(2019, 9, 12), y: 1 },
        { x: new Date(2019, 9, 13), y: 2 },
        { x: new Date(2019, 9, 14), y: 4 },
        { x: new Date(2019, 9, 15), y: 1 },
        { x: new Date(2019, 9, 17), y: 10 },
        { x: new Date(2019, 9, 18), y: 10 },
        { x: new Date(2019, 9, 19), y: 10},
        { x: new Date(2019, 9, 20), y: 5 },
        { x: new Date(2019, 9, 21), y: 4 },
        { x: new Date(2019, 9, 22), y: 6 },
        { x: new Date(2019, 9, 23), y: 4},
        { x: new Date(2019, 9, 26), y: 4 },
        { x: new Date(2019, 9, 27), y: 5 }
    	];
	
    function drawing(value) {
    	
    	if(value == 1){
    		arr1 = arr3;
    		arr2 = arr4;
    	}

        var options = {
            animationEnabled: true,
            theme: "light2",
            title:{
                text: "Final vs Estimado"
            },
            axisX:{
                valueFormatString: "DD MMM YY"
            },
            axisY: {
                title: "Valor en $",
                suffix: "K",
                minimum: 0
            },
            toolTip:{
                shared:true
            },
            legend:{
                cursor:"pointer",
                verticalAlign: "bottom",
                horizontalAlign: "left",
                dockInsidePlotArea: true,
                itemclick: toogleDataSeries
            },
            data: [{
                type: "line",
                showInLegend: true,
                name: "Presupuesto estimado",
                markerType: "square",
                xValueFormatString: "DD MMM, YYYY",
                color: "#F08080",
                yValueFormatString: "#1032F1",
                dataPoints: arr1,
            },
             {
                 type: "line",
                 showInLegend: true,
                 name: "Presupuesto final",
                 lineDashType: "dash",
                 yValueFormatString: "#1032F1",
                 dataPoints: arr2,
             }]
        };
        
        $("#chartContainer").CanvasJSChart(options);
        function toogleDataSeries(e){
            if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else{
                e.dataSeries.visible = true;
            }
            e.chart.render();
        }

    };
</script>
</body>
</html>