<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
	<style>
	  .my-custom-scrollbar {
	    position: relative;
	    height: 200px;
	    overflow: auto;
	  }
	  .table-wrapper-scroll-y {
	    display: block;
	  }
	  
	</style>
</head>
<body>
	<header th:replace="layout/header :: header" data-gr-c-s-loaded="true" style="padding-top: 5rem"> </header>
	<div class="table-responsive" style="position:relative; top: 100px; left: 150px; width: 80%">
		<button class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#nuevoCliente">Nuevo cliente</button>
		<h3 th:text="${seleccionado != 'destacados'}? ${seleccionado} : ''"></h3>
		<hr style=" width:100%; background-color: #FBF6F5">
		<ins ><h3 style="margin:2px;bottom:15px" th:text="${titulo}"></h3></ins>
		<a th:href="@{/clients} + '/destacados'">ver Destacados</a>
		<table id="tabla_clientes" class="table table-bordered table-dark table-wrapper-scroll-y my-custom-scrollbar">
			<thead>
				<tr>
					<th>CUIT</th>
					<th>Nombre</th>
					<th>Razon social</th>
					<th>Direccion</th>
					<th>Telefono</th>
				</tr>
			</thead>
			<tbody>
				<tr style="cursor: pointer" th:each="cliente : ${clientes}">
					<td id="CUIT" th:text="${cliente.CUIT}"></td>
					<td><a class="btn btn-secondary btn-xs"
						th:href="@{/clients/} + ${cliente.nombre}" th:text="${cliente.nombre}"></a>
						<a th:if="${cliente.destacado}" style="color:grey"
						th:href="@{/clients/} + 'degradar/' + ${cliente.nombre}">Degradar</a>
						<a th:unless="${cliente.destacado}"
						th:href="@{/clients/} + 'destacar/' + ${cliente.nombre}">Destacar</a>
					</td>
					<td th:text="${cliente.razon_social}"></td>
					<td th:text="${cliente.direccion}"></td>
					<td>
						<p th:each="tel : ${cliente.telefonos}" th:text="${tel}"></p>
					</td>
				</tr>
			</tbody>
		</table>
		
		<hr style=" width:100%; background-color: #FBF6F5">
		<ins><h3 style="" th:text="${titulo_proyectos}"></h3></ins>
		<table id="tabla_proyectos" class="table table-bordered table-dark">
			<thead>
				<tr>
					<th>Proyecto</th>
					<th>Tipo de proyecto</th>
					<th>Estado del proyecto</th>
				</tr>
			</thead>
			<tbody>
				<tr style="cursor: pointer" th:each="proyecto : ${proyectos}">
					<td th:text="${proyecto.nombre}"></td>
					<td th:text="${proyecto.tipo_de_proyecto}"></td>
					<td th:text="${proyecto.estado}"></td>
				</tr>
				
			</tbody>
		</table>
	
		<hr style=" width:100%; background-color: #FBF6F5">
		<ins><h3 style="" th:text="${titulo_productos}"></h3></ins>
		<table id="tabla_productos" class="table table-bordered table-dark">
			<thead>
				<tr>
					<th>Producto</th>
					<th>Version</th>
					<th>Cantidad</th>
					<th>Comentarios</th>
					<th>Estado de facturacion</th>
				</tr>
			</thead>
			<tbody>
				<tr style="cursor: pointer" th:each="itemFactura : ${facturados}">
					<td th:text="${itemFactura.item.nombre}"></td>
					<td th:text="${itemFactura.item.version}"></td>
					<td th:text="${itemFactura.cantidadFacturada}"></td>
					<td th:text="${itemFactura.item.comentarios}"></td>
					<td>
						<span th:if="${itemFactura.facturado == true}">Facturado</span>
						<span th:unless="${itemFactura.facturado == true}">Sin Facturar</span>
					</td>
				</tr>
			</tbody>
		</table>
		
		<hr style=" width:100%; background-color: #FBF6F5">
	</div>
		<!-- Modal new Client -->
	<div class="modal fade" id="nuevoCliente" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="display:table;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Nuevo cliente</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="/alta_cliente" method="post">
					<div class="modal-body" th:object="${newClient}">
						<div class="form-group">
							<label for="input-CUIT">CUIT</label>
							<input name="CUIT" type="text" class="form-control" id="input-CUIT" th:field="*{CUIT}" required>
						</div>
						<div class="form-group">
							<label for="input-nombre">Nombre</label>
							<input name="nombre" type="text" class="form-control" id="input-nombre" th:field="*{nombre}" required>
						</div>
						<div class="form-group">
							<label for="input-razon-social">Razon social</label>
							<input name="razon_social" type="text" class="form-control" id="input-razon-social"  th:field="*{razon_social}" >
						</div>
						<div class="form-group">
							<label for="input-direccion">Direccion</label>
							<input name="direccion" type="text" class="form-control" id="input-direccion" th:field="*{direccion}" required>
						</div>
						<div class="form-group">
							<label for="input-tel1">Telefono 1</label>
							<input name="telefono1" type="text" class="form-control" id="input-tel1" required>
						</div>
						<div class="form-group">
							<label for="input-tel2">Telefono 2</label>
							<input name="telefono2" type="text" class="form-control" id="input-tel2">
						</div>
						<div class="form-group">
							<label for="input-tel3">Telefono 3</label>
							<input name="telefono3" type="text" class="form-control" id="input-tel3">
						</div>
						<input type="submit" id="submitButton" th:value="Guardar"> 
						<input type="reset" id="resetButton" name="reset" th:value="Reiniciar"/>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>