<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head"></head>
<body>
	<header th:replace="layout/header :: header" data-gr-c-s-loaded="true" style="padding-top: 5rem"> </header>
	<table class="table">
		<thead>
			<tr>
			  <td><h4>Periodo reportado</h4></td>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td><h5>Detalles de importes del 01/11/2019</h5></td>
			</tr>
		</tbody>
	</table>
	
	<div class="table-responsive" style="position:relative; top: 10px; left: 20px; width: 95%">
		<hr style=" width:100%; background-color: #FBF6F5">
		<ins ><h3 style="margin:2px;bottom:15px" th:text="${titulo}"></h3></ins>
	
		
		<table id="tabla_ingresos_y_egresos" class="table table-bordered table-dark" style="width:1400px">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Empresa</th>
					<th>Concepto</th>
					<th>Importe</th>
				</tr>
			</thead>
			<tbody>
				<tr style="cursor: pointer" th:each="ingresoegreso : ${ingresos_egresos}">
					<td th:text="${ingresoegreso.tipo}"></td>
					<td th:text="${ingresoegreso.empresa}"></td>
					<td th:text="${ingresoegreso.concepto} "></td>
					<td th:text="${ingresoegreso.monto} "></td>
				</tr>
			</tbody>
		</table>
		
		<hr style=" width:100%; background-color: #FBF6F5">
		
	</div>

</body>
</html>