<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head"></head>
<body>
<header th:replace="layout/header :: header" data-gr-c-s-loaded="true" style="padding-top: 5rem"> </header>
<br>
<br>
<br>
<a name="finance_page">Finanzas</a>
<br>
<a name="btn_calendario_ingresos_egresos" href="calendario_ingresos_egresos" type="button">Calendario de ingresos/egresos</a>
<a name="btn_resumen_mensual" href="resumen_mensual" type="button">Ver resumen mensual</a>
</body>
</html>