<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registar ingreso/egreso</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Registrar ingreso o egreso del 01/11/2019</h1>
    <form name="form_registrar_ingreso_egreso" action="#" th:action="@{/registrar_ingreso_egreso}" th:object="${ingresoegreso}" method="post">
    	<p>Tipo: <input type="text" th:field="*{tipo}" id="tipo" /></p>
        <p>Empresa: <input type="text" th:field="*{empresa}" id="empresa"/></p>
        <p>Concepto: <input type="text" th:field="*{concepto}" id="concepto"/></p>
        <p>Monto: <input type="text" th:field="*{monto}" id="monto"/></p>
        <p><input type="submit" value="Registrar" /> <input type="reset" value="Resetear" /></p>
    </form>
</body>
</html>