<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
		  crossorigin="anonymous">
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="layout/header :: header"></header>
	<h3 th:text="${titulo}"></h3>
	<table class="table">
		<thead>
			<tr>
				<td>Producto vendido</td>
				<td>Comprador</td>
				<td>Fecha</td>
				<td>Estado de facturacion</td>
				<td>cantidad</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="venta : ${ventas}">
				<td th:text="${venta.comprador.nombre}"></td>
				<td th:text="${venta.comprador.nombre}"></td>
				<td th:text="${venta.productoVendido.nombre venta.productoVendido.version}"></td>
				<td th:text="${venta.estadoFacturacion}"></td>
				<td th:text="${venta.cantidadVendida}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>